<!-- 
Name: Kapilan Santhiramohan
Date: Feb, 15, 2019
 -->

<!-- JavaScript Section-->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
  <footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <p style="color: white;"> ©Kapilan Santhiramohan  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        Student Number: 300893989 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     COMP308</p>
      </nav>
  </footer>
</body>
</html>
