
<% include ./partials/headers.ejs %>
  
   

   <!-- <%if(title == "Home") { %>
    <% include ./pages/home.ejs %> <% 
    } %>

   <%if(title == "About") { %>
    <% include ./pages/about.ejs %> <% 
    } %> 

  
   <%if(title == "Project") { %>
    <% include ./Pages/projects.ejs %> <% 
    } %>

  
   <%if(title == "Service") { %>
    <% include ./Pages/services.ejs %> <% 
    } %>

  
  
   <%if(title == "About") { %>
    <% include ./Pages/about.ejs %> <% 
    } %>
     </div> -->

<% include ./partials/footer.ejs %>

  
  