<!-- 
Name: Kapilan Santhiramohan
Date: Feb, 15, 2019
 -->

<div class="container">
  <br>
    <div class="jumbotron">

<!-- Creates table with left side having a short description of me that should capture readers attention, and a picture of me to the right
Photocredits: Wasey Jahan  -->
        
           <h1>About</h1>
            <br>
            <div class="row">
            <div class="col-8">
            <p>
           Hi I’m Kapilan Santhiramohan, a software engineer with a passion for coding and developing. Currently a centennial college student for software engineering and aspiring to expand my knowledge on all areas of coding. My speciality is object-oriented coding and I am planning to expand my knowledge in all area to eventually be able to co-relate all relevant information into a single project and see the manifestation of my knowledge before me. 
            </p> 
            <br>
            <p>
            Through obtaining my diploma in software engineering, I will use that as a base to complete a degree in software engineering at an accredited university. My current phase is to gather a base of fundamental knowledge as well as learning how to learn adapt to new programs and languages efficiently. Throughout the three years at centennial college, I have learnt to build programs in many different programming languages such as: C#, Java, UNIX, SQL, ASP.NET, HTML, JavaScript, as well as CSS styling. I have also written up multiple business proposals for project applications that were built for android devices. The documentation consisted of UML diagrams, excel profit and time management charts. 
          </p>
            </div>
             <div class="col-4">
                 <img src="./Assets/images/Personal.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                </div>
        </div>

     
    </div>
</div>


