
<% include ./partials/headers.ejs %>
  
  <!-- content -->

  <h3>Contact Us:</h3>

  <div>
    <form class="contact_form">
    <div class="form_input">
    <label>First Name:</label>
    <input type="text" name="first">
    </div>

     <div class="form_input">
    <label>Last Name:</label>
    <input type="text" name="last">
    </div>

     <div class="form_input">
    <label>Contact Number:</label>
    <input type="number" name="number">
    </div>

     <div class="form_input">
    <label>Email Address:</label>
    <input type="email" name="email">
    </div>

     <div class="form_input">
    <label>Message: </label>
    <textarea name="message"></textarea>
    </div>
    <input class="btn" type="submit" value="submit" name="btn_submit">
    <input class="btn" type="reset" value="reset" name="btn_reset">

    </form>
  </div>

 <% include ./partials/footer.ejs %>

  
  