<div class="container">
  <br>
    <div class="jumbotron">

<!-- Creates table with left side having a short description of me that should capture readers attention, and a picture of me to the right
Photocredits: Wasey Jahan  -->
        
           <h1>Education</h1>
            <br>
        <div class="row">
            
            <p>
            <img src="./Assets/images/Transcript.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
            </p>

            
        </div>
        <div class="row">
        <h5>Current Diploma:</h5>
        </div>
        <div class="row">        <br>
        <br>
        <p>
        Highschool Diploma from Winston Churchill Collegiate Insitute - June 2015.
        </p>
        </div>
    </div>
</div>