<!-- 
Name: Kapilan Santhiramohan
Date: Feb, 15, 2019
 -->


<div class="container">
  <br>
    
  
<div class="jumbotron">
<!--Uses bootstraps design to give a clear border round content which is used throughout all pages for consistancy. Placed a personal quote 
as it makes the homepage look at more busy than a simple paragraph. -->

    <div class="row">
        <div class="col-lg-7">
        <h1 class="display-bold">Welcome to Kapilan's Website</h1>
        </div>
        <div class="col-3">
            <div class="right">
                 <img src="./Assets/images/MainLogo.png" class="right" alt="">
            </div>
        </div>
    </div>
   
   <br>

   <div class="card">
    <div class="card-header">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>Wandering through life stumbling upon new paths.</p>
        <footer class="blockquote-footer">Kapilan Santhiramohan </footer>
        </blockquote>
    </div>
    </div>
    <hr class="my-2">
    <br>
    <br>
    <h4 class="display-5">Mission:</h4>
    <p>Create and develop applications that will help change the current industry standard in technology. Making applications that will be incorporated with all technology that we currently today to make it more convenient and have luxurious feel.</p>
    <p class="lead">
        <a class="btn btn-info btn-lg" href="/about" role="button">About Me</a>
        <a class="btn btn-info btn-lg" href="/projects" role="button">Projects</a>
        <a class="btn btn-info btn-lg" href="/services" role="button">Services</a>
        <a class="btn btn-info btn-lg" href="/contact" role="button">Contact</a>
    </p>
    </div>
</div>
    

 

