
<!-- 
Name: Kapilan Santhiramohan
Date: Feb, 15, 2019
 -->
<div class="container">
  <br>
    <div class="jumbotron">
 
        <div>
        <h1>Projects</h1>
        <br>    
        <!-- Created a table to display one side image of application then the other side the description. Having them switch around
        the website a more pleasing aesthetics -->
        <h4 class="display-bold"> Workers hub</h4>
        <br>
            <div class="row">
              <div class="col-9">
               <p>
                  Workers Hub is an android employee management application that my colleagues and I had developed to help employees stay connected to work and managers efficiently create and post timetables. The manager could login post or delete any content he wanted under news feed. The manager can also create timetable while view employee times and post it as well. Employee can login and view news feed and timetable. If there was an issue, they can message straight through the application.
               </p> 
              </div>
            
                <div class="col-3-centre">
                 <img src="./Assets/images/Workershub.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                </div>
            </div>
       
        <br>
        <br>
          
        <h4 class="display-bold"> Toronto Meet-Ups</h4>
        <br>
            <div class="row">
              
                <div class="col-3">
                 <img src="./Assets/images/TorontoMeetUp.PNG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                </div>

                <div class="col-8">
               <p>
                   Toronto Meet-Up is another android application a group of colleagues and I had built. This was a mapping application intended to get the address of a pre-set meetup location and was able to get the address sent to their phone via text. They could also download the address and an image of the map, as well as check out the location’s website.
               </p> 
              </div>
            
            </div>
       
        <br>
        <br>
           
        <h4 class="display-bold"> OKP Car Shop API</h4>
        <br>
            <div class="row">
              <div class="col-6">
               <p>
                 An API that a colleague and I had developed for handling the backend of an online car parts store. The purpose of this API was so that dealers can post their products on this database and users would be able to look through the website which would be connected to the API to buy the product. This would create a reliable network for buying OEM parts and giving best price since there are not any middle parties.
               </p> 
              </div>
            
                <div class="col-4-centre">
                 <img src="./Assets/images/API_pres.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                </div>
            </div>
       
       
        

    </div>
</div>

