<!-- 
Name: Kapilan Santhiramohan
Date: Feb, 15, 2019
 -->
<div class="container">
  <br>
    <div class="jumbotron">

 
        <div>
        <h3>Services</h3>
        </div>
        <br>
<!-- Creates table with one side lauguages then the other side an image of codeing for viewers to relate to -->
<div class="row">
    <div class="col-8">      
            <table style="width:90%">
        <tr>
            <th>Languages</th>
            
        </tr>
        <tr>
            <td>C#, Java, Unix, Phython, ASP.Net</td>
        </tr>
        <tr>
            <td>HTML, CSS, JavaScript</td>
        </tr>
        <tr>
            <td> SQL, SQLite, PLSQL</td>
        </tr>
        <tr>
            <td> Express Js, Node Js, Angular</td>
        </tr>

        <br>
        </table>
    </div>
    <div class="col-4">
    <br>
    <br>
    <img src="./Assets/images/coding.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
</div>
        <br>
        <br>
        <!-- Creates table with one side services then the other side an image of development for viewers to relate to -->
<div class="row">
    <div class="col-8"> 
        <table style="width:90%">
        <tr>
            <th class="display-bold">Services</th>
        </tr>
        <tr>
            <td>Webdesign</td>
        </tr>
        <tr>
            <td>Android Developer</td>
        </tr>
        <tr>
            <td>Database Managaer</td>
        </tr>
        <tr>
            <td>Client Care</td>
        </tr>
        <tr>
            <td>Software Developer</td>
        </tr>
        </table>
    </div>
    <div class="col-4">
    <br>
    <br>
    <img src="./Assets/images/dev.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
</div>


    </div>
</div>

